
    {{#each this}}
    <div class="card ms-auto mt-1 text-bg-secondary comment">
        <div class="card-body">
        <p class="card-text">{{comment_content}}</p> 
        </div>
    <h6 class="card-footer">Created by: {{user.name}} @ {{format_date created_at}}</h6>
    </div>
    {{/each}}
