<div class="container">

   <div class="hero">
    <h1>Welcome to Tech-Blog!</h1>
    <p>This is the home page. Here you can find posts by all users, currently displayed in chronological order </p>
    </div>
{{#if posts.length}}
{{#each posts as |post|}}
<div class="post">
    {{> indPost post}}
</div>
{{/each}}
{{else}}
<div>
    no post available yet
</div>
{{/if}}
</div>